<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="">
    <noscript>
      <style>
        body {
          .no-mask {
            visibility: visible;
          }
        }
      </style>
    </noscript>
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <header class="header">
          <h1><%= htmlWebpackPlugin.options.title %></h1>
          <nav class="nav">
            <button class="close-button" aria-label="Close menu"><span></span><span></span></button>
            <ul>
              <li><a href="#about">About</a></li>
              <li><a href="#skills">Skills</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#experience">Experience</a></li>
            </ul>
          </nav>
          <button class="menu-button" aria-label="Open menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </header>
        <main>
          <section class="hero">
            <div class="no-mask">
              <h2>George Phillips</h2>
              <p>Front End <span>Web Developer</span></p>
            </div>
            <div class="mask" aria-hidden="true">
              <h2>George Phillips</h2>
              <p>Front End <span>Web Developer</span></p>
            </div>
          </section>
          <section class="about" id="about">
            <div class="rotating-header">
              <h2>About me</h2>
            </div>
            <div class="text">
              <p>Hi! I'm George, a front end web developer.</p>
              <p>I've been making websites for over 20 years. I love solving problems and building websites with accessible, reusable code.</p>
              <p>I also love <span>cooking</span>, <span>board games</span>, <span>football</span>, <span>playing</span>, <span>listening to music</span>, <span>watching the Simpsons</span>.</p>
              <p>I've been in bands that have toured around the world.</p>
            </div>
          </section>
          <section class="skills" id="skills">
            <div class="bouncing-header">
              <h2>Skills</h2>
            </div>
            <div class="text">
              <p>I've used lots of different frameworks and technologies, but here are some of my favorites.</p>
              <ul>
                <li>React</li>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>Next.js</li>
                <li>CSS</li>
                <li>SCSS</li>
                <li>GSAP</li>
                <li>Webpack</li>
                <li>Flutter</li>
                <li>Figma</li>
                <li>VS Code</li>
              </ul>
            </div>
          </section>
          <section class="projects" id="projects">
            <div class="reveal-header">
              <h2>Projects</h2>
            </div>
            <div class="text">
              <p>Here's some work I've done that I like</p>
              <ul>
                <li><a href="https://ses.com/ready-to-soar">SES Minisite</a></li>
                <li><a href="https://freshpunks.com">Fresh website</a></li>
              </ul>
            </div>
          </section>
          <section class="contact" id="contact">
            <div class="stagger-header">
              <h2>Contact</h2>
            </div>
            <div class="text">
              <p>Email me at <a href="mailto:george@georgephillips.co.uk">george@georgephillips.co.uk</a></p>
              <p>Here's my <a href="https://linkedin.com/in/georgejphillips">Linkedin</a></p>
              <p>Here's my <a href="https://github.com/georgejphillips">Github</a></p>
            </div>
          </section>
          <section class="experience" id="experience">
            <div class="parallax-header">
              <h2>Experience</h2>
            </div>
            <div class="text">
              <ol>
                <li><span>2019 - Present:</span> <span>Front End Lead @ Gain</span></li>
                <li><span>2017 - 2019:</span> <span>Front End Developer @ Freelance</span></li>
                <li><span>2014 - 2017:</span> <span>Jr. Front End Developer / Front End Developer @ Nation</span></li>
              </ol>
            </div>
          </section>
        </main>
        <footer>
          &copy; George Phillips
        </footer>
      </div>
    </div>
  </body>
</html>
